<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Personal Website</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <img
          src="https://dumbways.id/assets/images/brandred.png"
          alt="Logo"
          style="
            object-fit: contain;
            width: 40px;
            height: 40px;
            margin-right: 10px;
          "
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/projectnew">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/testimonialnew">My Testimonial</a>
            </li>
          </ul>
          <a class="btn btn-secondary" href="/contactnew"> Contact Me </a>
        </div>
      </div>
    </nav>
    <h1 class="text-center mt-3">Welcome To My Personal Website</h1>
    <div class="d-flex align-items-center justify-content-center">
      <div class="card border-3 mt-3" style="max-width: 80%">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-center fs-3">Wildan Bagus Pratama</h5>
              <p class="card-text fs-5 mt-3" style="text-align: justify">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </div>
            <div class="mt-3">
              <table class="table text-center table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Experience</th>
                    <th scope="col">Description</th>
                    <th scope="col">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Fullstack Developer</td>
                    <td>Lorem Ipsum is simply dummy</td>
                    <td>2024</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Machine Learning</td>
                    <td>Lorem Ipsum is simply dummy</td>
                    <td>2023</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Data Analyst</td>
                    <td>Lorem Ipsum is simply dummy</td>
                    <td>2022</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-4 mt-2 mb-2">
            <div style="text-align: center">
              <img
                style="
                  width: 85%;
                  height: 350px;
                  object-fit: cover;
                  border-radius: 10px;
                  display: block;
                  margin: 20px auto;
                "
                src="https://wl-brightside.cf.tsp.li/resize/728x/jpg/9b6/b68/6c70db5f149b4ec6952c412c16.jpg"
                alt="Image"
              />
              <p class="d-flex justify-content-center align-items-center fs-5">
                Fullstack Developer
                <span class="mx-1">|</span>
                <a>Wildan Bagus Pratama</a>
              </p>
              <div class="pb-2">
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  class="btn btn-outline-secondary btn-floating"
                  role="button"
                >
                  <i class="fab fa-facebook-f fa-lg"></i>
                </a>
                <a
                  href="https://www.linkedin.com/"
                  target="_blank"
                  class="btn btn-outline-secondary btn-floating"
                  role="button"
                >
                  <i class="fa-brands fa-linkedin"></i>
                </a>
                <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="btn btn-outline-secondary btn-floating"
                  role="button"
                >
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </div>
              <a
                href="assets/files/cv.pdf"
                download
                target="_blank"
                class="btn btn-secondary btn-floating"
              >
                <i class="fa-solid fa-download"></i>
                Download CV
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-5" style="border: 5px solid black; border-radius: 50px" />
    <div>
      <h1 class="text-center my-5">Project List</h1>

      <!-- Tempat untuk menampilkan daftar proyek -->
      <div id="project-list" class="d-flex flex-wrap justify-content-center">
        {{#each projects}}
          <div class="ms-3 mt-3">
            <div
              class="card border-3"
              style="width: 400px; height: 450px; max-width: 400px; max-height: 450px"
            >
              <!-- Tautkan gambar ke detail proyek -->
              <a
                href="/project-detail/{{this.id}}"
                class="text-decoration-none"
                style="color: black;"
              >
                <img
                  src="{{this.image}}"
                  class="card-img-top"
                  style="width: 100%; height: 200px; object-fit: cover;"
                  alt="Project Image"
                />
              </a>
              <div class="card-body">
                <h5 class="card-title text-center">{{this.name}}</h5>
                <div class="d-flex">
                  <p class="card-text">{{this.start_date}}
                    -
                    {{this.end_date}}</p>
                  <p class="card-text mx-2">|</p>
                  <p class="card-text">Wildan Bagus Pratama</p>
                </div>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text">Duration: {{this.duration}}</p>
                <!-- Tombol Edit dan Delete tidak terpengaruh oleh tautan gambar -->
                <div class="d-flex justify-content-between mt-5">
                  <a
                    href="/project/edit/{{this.id}}"
                    class="btn btn-secondary text-decoration-none"
                  >Edit</a>
                  <a
                    href="/project/delete/{{this.id}}"
                    class="btn btn-danger text-decoration-none"
                  >Delete</a>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

      <!-- Tombol untuk menuju halaman tambah proyek -->
      <div class="text-center my-5">
        <a href="/projectnew" class="btn btn-primary">Add New Project</a>
      </div>
    </div>

    <!-- Project.js untuk mengambil dan menampilkan proyek dari localStorage -->
    <script src="assets/js/project.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"
    ></script>
    <script>
      console.log(template({ doesWhat: "rocks!" }));
    </script>
  </body>
</html>